@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<div class="comment-top">
    <h4>@localizer["Yorumunuzu Bırakın!"]</h4>
    <div class="comment-bottom">
        <form action="/Comment/PartialAddComment/" method="post">

            <input class="form-control" type="text" name="CommentUserName" placeholder=@localizer["Adınız ve Soyadınız..." ] required="">


            <input class="form-control" type="text" name="CommentTitle" placeholder=@localizer["Konu..."] required="">

            <textarea class="form-control" name="CommentContent" placeholder=@localizer["Yorumunuz..."] required=""></textarea>
            <button type="submit" class="btn btn-primary submit">@localizer["Yorum Yap"]</button>
        </form>
    </div>
</div>

