@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Privacy Policy";
}

<partial name="_Culture" />
<h1>@ViewData["Title"]</h1>

<p>@localizer["priv"]</p>
